*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
body{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 84.3vh;
}
.main{
    width: 60%;
    text-align: center;
    align-items: center;
    margin: 100px auto;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
}
#question{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1.1px;
    margin: 20px 0 ;
    color: #fff;
}
#options{
    background: none;
    border: none;
}
#options button{
    padding: 10px 20px;
    width: 70%;
    margin: 20px auto 0 auto;
    text-align: left;
    border-radius: 10px;
    color: #2b2b2b;
}
#btn{
    padding: 10px 20px;
    width: 200px;
    margin: 20px auto 0 auto;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(22, 116, 224);
    border: 2px solid rgb(2, 45, 97);
}
.btn{
    background-color: rgb(1, 95, 1);
    border: 2px solid rgb(1, 95, 1);
}
.wrong{
    background-color: rgb(128, 3, 3);
    border: 2px solid rgb(133, 4, 4);
}
.button{
    background-color: rgb(233, 235, 235);
    border: 2px solid rgb(222, 236, 236);    
}
@media (max-width:500px){
    .main{
        width: 90%;
    }
    #option button{
        width: 85%;
    }
}